[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = gh
[user]
	name = jeermuce
	email = ernesto_mc.dev@proton.me
[init]
	defaultBranch = main
