# Ignore everything
*
.config
_github

# But not these files...
!.gitconfig
!.gitignore
!.bashrc
!*.sh
!.scripts/
!.wezterm.lua
!.git/
!.kanata.kbd
!uetrldnasi.xkb # uetrldnasi.xkb is my personal keyboard layout
!us # I replaced us intl. wit altgr dead keys with my own layout
!us.bak # Backup without the replacement, path of origin is /usr/share/X11/xkb/symbols/us