[credential "https://github.com"]
helper =
helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
helper =
helper = !/usr/bin/gh auth git-credential
[credential]
helper = gh
[user]
name = jeermuce
email = ernesto_mc.dev@proton.me
[init]
defaultBranch = main
[alias]

uh = reset --hard HEAD^
uh1 = reset --hard HEAD~1
uh2 = reset --hard HEAD~2
uh3 = reset --hard HEAD~3
uh4 = reset --hard HEAD~4
uh5 = reset --hard HEAD~5
uh6 = reset --hard HEAD~6
uh7 = reset --hard HEAD~7
uh8 = reset --hard HEAD~8
uh9 = reset --hard HEAD~9
uh10 = reset --hard HEAD~10

us = reset --soft HEAD^
us1 = reset --soft HEAD~1
us2 = reset --soft HEAD~2
us3 = reset --soft HEAD~3
us4 = reset --soft HEAD~4
us5 = reset --soft HEAD~5
us6 = reset --soft HEAD~6
us7 = reset --soft HEAD~7
us8 = reset --soft HEAD~8
us9 = reset --soft HEAD~9
us10 = reset --soft HEAD~10
